

<div class="container mt-5">
  
  <svg class="d-none">
    <symbol id="check-circle-fill" viewBox="0 0 16 16">
      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
    </symbol>
    <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
      <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
    </symbol>
  </svg>

  <div class="row">
    <div class="col-3">
      <h1>Colors</h1>
    </div>

    <div *ngIf="alert == 'success'" 
    class="col-6 alert alert-success alert-dismissible d-flex align-items-center" role="alert">
      <svg class="bi flex-shrink-0 me-2" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
      <div>
        <h3> Successfully </h3>
        <h3 *ngIf="action == 'Add'" > Color added </h3>
        <h3 *ngIf="action == 'Edit'" > Color edited </h3>
        <h3 *ngIf="action == 'Delete'" > Color deleted </h3>
      </div>
    </div>

    <div *ngIf="alert == 'error'" 
    class="col-6 alert alert-danger alert-dismissible d-flex align-items-center" role="alert">
      <svg class="bi me-2" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
      <div>
        <h3> Error! This color is being used </h3>
      </div>
    </div>


  </div>
  

  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Color</th>
        <th> 
          <button class="btn btn-primary mx-1" (click)="addColor()">
            <i class="bi bi-plus"></i>
          </button> 
        </th>
      </tr>
      
    </thead>

    <tbody>
      <tr *ngFor="let color of colors">
        <td> {{ color.id  }} </td>
        <td> {{ color.color }} </td>
        <td>
          <div>
            <button class="btn btn-primary mx-1" (click)="editCar(color.id, color.color)">
              <i class="bi bi-pencil-square"></i>
            </button>

            <button class="btn btn-danger mx-1" (click)="deleteColor(color.id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="toggle">
  <app-modal-color 
  (toggle)="toggleModal()"
  (inputData)="getCarsColorList()"
  (alert)="alertForDelete($event)"
  [action]="action"
  [idColor]="idColor"
  [editedColorPlaceholder]="editedColorPlaceholder"/>
  <div class="backModal" (click)=toggleModal()></div>
</div>

