<div class="container">
  <h2>Cars</h2>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>
          <button class="btn btn-primary mx-1" title="Add New User">
            <img src="assets/plus.svg" alt="">
          </button>
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let car of cars; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ car.name }}</td>
        <td>
          <div>
            <button class="btn btn-primary mx-1">
              <img src="assets/pencil.svg" alt="">
            </button>

            <button class="btn btn-danger mx-1">
              <img src="assets/X.svg" alt="">
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="toggle">
  <app-modal (toggle)="toggleModal()" 
  (inputData)="getCarsList()"
  [action]="action"/>
  <div class="backModal" (click)=toggleModal()></div>
</div>