.container-form {
  min-height: 100vh;
}

form {
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--white);
  padding: 20px;
}

input {
  background-color: var(--gray);
}

svg {
  width: 25px;
}

.alert {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}